<ion-header translucent>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="/assets/icon/logo.svg">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="contenedor">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ip</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="createIp()" class="ion-button" expand="block">
    Añadir ip
    <ion-icon name="add-circle" slot="start" color="light"></ion-icon>
  </ion-button>
  <!--<ion-list style="background: var(--ion-color-primary);">-->
  <ion-list>
    <ion-item-sliding *ngFor="let ip of ips;index as i">
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable (click)="borrarIp(i)">
          Borrar
        </ion-item-option>
      </ion-item-options>
      <ion-item>

        <!--<ion-item color="primary" > -->
        <ion-icon [name]="getIcon(ip)" slot="start" color="light"></ion-icon>
        {{ip.title}}
<!--
        <div slot="end">
          {{ip.completed}}
        </div>
        -->
        <div slot="end" *ngIf="ip.completed==true">
          <img class="imagen-true" src="./assets/icon/imagen-true.svg">
        </div>
        <div slot="end" *ngIf="ip.completed==false">
          <img class="imagen-false grayscale" src="./assets/icon/imagen-true.svg">
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</div>
</ion-content>
<ion-footer>
  <!--<ion-button (click)="comprobarTodos()" color="secondary" expand="block"> -->
  <ion-button (click)="comprobarTodos()" expand="block">
    Comprobar todos
    <ion-icon name="checkmark-circle" slot="start" color="light"></ion-icon>
  </ion-button>
</ion-footer>
